<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dailytip @ James Akwuh</title>
        {{#each meta}}
            <meta property="{{property}}" content="{{content}}"/>
        {{/each}}
        <link rel="stylesheet" href="/assets/{{stylesName}}">
    </head>
    <body>
        <div class="markdown-body">
            {{{content}}}
        </div>
        <script type="text/javascript" src="/assets/{{scriptsName}}"></script>
    </body>
</html>
